.w100{

    width: 100%;
    
    }
    
    .example-card {
        max-width: 400px;
        text-align: center;
      }
      .sdd{
     
        background: #eb1d47;
      }
      .mdh{
        background-color:#00bfa5;
      }